
.w100{width: 100px!important;}
.w50{width: 100px!important;}
.w80{width: 100px!important;}

.table th.option{width: 150px!important;}
.table th.option.option-sm{width: 70px!important;}
.table th.option.option-lg{width: 200px!important;}



/* loader
--------------------------------------------------------------------- */
.circle-loader{margin:10px auto;width:80px;height:80px;border-radius:40px;-webkit-box-sizing:border-box;box-sizing:border-box;border:solid 2px rgba(220,230,235,0.5);border-top-color:#25ccce;animation:spin 1s infinite linear;-webkit-animation:spin 1s infinite linear}
.app-loader{width:70px;height:70px;margin:30px auto;position:absolute;bottom:10px;right:20px;padding:10px;border-radius:50%;background:rgba(250,250,255,0.6)}
.app-loader .loading,.table-loader .loading{width:50px;height:50px;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;border:solid 2px rgba(0,179,147,0.94);border-top-color:#fff;animation:spin 1s infinite linear;-webkit-animation:spin 1s infinite linear;display:inline-block}
.form-group .app-loader{margin:-12px auto;width:50px;height:50px;left:45%}
.form-group .app-loader .loading{width:30px;height:30px}
#pre-loader .app-loader{bottom:50%;right:53%}
.ani-width{transition:width 50ms}
.ani-rotate-180:hover{transform:rotate(180deg);transition:all 300ms ease-out 0ms}
@keyframes spin {
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes spin { 
    100% {-webkit-transform: rotate(360deg);} 
} 
.inline-loader{background-image:url('../images/loader.gif');background-repeat:no-repeat;background-position:center center;color:transparent !important;transition:none}
.inline-loader:hover{color:transparent !important}

/* progress Bar
--------------------------------------------------------------------- */
.progress-loading {
    background: url('../images/progress-bar.gif') center center no-repeat;  
    height: 10px;
    width: 100%; 
}


/* bootstrap modal
--------------------------------------------------------------------- */
.modal-content{border-radius:0px;border:1px solid #aaa;box-shadow:0 5px 15px rgba(0,0,0,.2)}
.modal-backdrop.in{filter:alpha(opacity=20);opacity:0.2}
.modal-dialog{-webkit-transition:width 500ms ease;-moz-transition:width 500ms ease;-o-transition:width 500ms ease;transition:width 500ms ease}
.mini-modal{width:300px !important}
body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom{margin-right:0px!important}
.modal-header{border-bottom:1px solid #f6f8f9}
.modal-footer{border-top:1px solid #f6f8f9;padding:15px 30px}
.close{font-size:25px;font-weight:normal}
.draggable{cursor:move}



/* modal mask
--------------------------------------------------------------------- */
.modal-mask{position:absolute;top:0;left:0;background-color:#fff}
.circle-done{margin:10px auto;width:80px;height:80px;border-radius:40px;-webkit-box-sizing:border-box;box-sizing:border-box;border:solid 5px rgba(220,230,235,0.5);text-align:center;font-size:40px;padding:10px;color:#25ccce}
.circle-done i{display:inline-block;max-width:0%;overflow:hidden}
.circle-done.ok i{max-width:80%;-webkit-transition:max-width 1000ms ease;-moz-transition:max-width 1000ms ease;-o-transition:max-width 1000ms ease;transition:max-width 1000ms ease}



/* fs modal
--------------------------------------------------------------------- */
.app-modal{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.9);z-index:5000;animation:slidedown 300ms;-webkit-animation:slidedown 300ms}
@keyframes slidedown{
	from{top:-100%}
	to{top:0}
}
@-webkit-keyframes slidedown{
	from{top:-100%}
	to{top:0}
}
.app-modal-body{margin:1% 1% 2%;width:98%;height:97%;background-color:#fff;display:table;table-layout:fixed;border-spacing:0}
.app-modal-close{font-size:20px;text-align:right;padding:0 7px;cursor:pointer}
.app-modal-content{display:table-cell;vertical-align:central;height:100%;text-align:center}
.app-modal-sidebar{width:350px;border-left:1px solid #f2f2f2;height:100%;display:table-cell;vertical-align:top}
.app-modal-content .app-modal-content-area{position:relative;top:50%;transform:translateY(-50%)}
.app-modal-content img{max-width:100%;max-height:100%}
.app-modal.full-content .app-modal-sidebar{display:none}
.app-modal .compress,.app-modal .expand{position:absolute;right:20px;top:20px;cursor:pointer;padding:10px;color:#000;z-index:1;background-color:rgba(255,255,255,0.5)}
.app-modal .compress:hover,.app-modal .expand:hover{background-color:rgba(0,0,0,0.2)}
.app-modal .compress{display:none}
.app-modal.full-content .expand{display:none}
.app-modal.full-content .compress{display:block}
.app-modal .expand{display:block;right:370px!important}
.app-modal.loading .app-modal-sidebar{border-color:#fff}
.app-modal.loading .expand{display:none}


/* alert
--------------------------------------------------------------------- */
.alert{border:0}
.alert .progress{background-color:transparent;box-shadow:none !important;height:3px;border-radius:0;margin:19px 0px -15px -15px}
.alert .progress-bar{box-shadow:none !important;background-color:rgba(0,0,0,0.3)}
.app-alert-message{display:inline-block;margin-right:5px;max-width:350px;min-width:165px}
.app-alert.animate{bottom:0;position:fixed;z-index:100;border-radius:2px;box-shadow:0 2px 1px rgba(0,0,0,0.1);opacity:0.25;right:-350px}
.app-alert.alert-info{background-color:#20c5cb;color:#fff}
.app-alert.alert-success{background-color:#00b393;color:#fff}
.app-alert.alert-danger{background-color:#f06c71;color:#fff}
.app-alert.alert-warning{background-color:#f0ad4e;color:#fff}
.app-alert a{color:#444}
.alert-warning{background-color:#fff2cc}



/* blur
--------------------------------------------------------------------- */
.blur-svg {display: none;}
body.modal-open > section {
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
	-webkit-filter: url(#blur-filter);
	filter: url(#blur-filter);
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

/* dtFilter
============================================ */
.dtFilter th { color: #999; }
.dtFilter-filter-reset-button, .dtFilter-filter-wrapper, .dtFilter-filter-wrapper .dtFilter-filter { display: none; }
.dtFilter-filter-wrapper:first-child { display: block; width: 100%; }
.dtFilter-filter-wrapper .dtFilter-filter:first-child { display: block; padding: 3px 0px; color: #333; border: none; background: transparent; width: 100%; }
.dtFilter-filter-wrapper .dtFilter-filter:first-child:focus { background: white; }
.dtFilter-filter-wrapper .select2-container .select2-choice { height: 25px; line-height: 25px; padding: 0 0 0 3px; background: transparent; box-shadow: none !important; }
.dtFilter-filter-wrapper .select2-container .select2-choice .select2-arrow { padding:0; top: -2px; background: transparent; }
.dtFilter-filter-wrapper .select2-container .select2-choice abbr { top: 5px; }
.dtFilter-filter-wrapper .select2-dropdown-open .select2-choice { background: white; }

