<?php; ?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <base href="http://registrasi.kulhen.med/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href="http://registrasi.kulhen.med/themes/default/assets/css/reset.css" media="print" rel="stylesheet"/>
    <link href="http://registrasi.kulhen.med/themes/default/assets/css/print.css" media="print" rel="stylesheet"/>
    <link href="http://registrasi.kulhen.med/themes/default/assets/js/plugins/bootstrap/css/bootstrap.css" media="print" rel="stylesheet"/>
</head>
<body>
    <div class="row" style="margin:0 !important;">
    	<div class="col-lg-4" style="margin:0 !important;">

            <div class="row" style="margin-top:26px">
            	<div class="col-md-3" style="padding:0;">
                	<div class="table-responsive">
                    	<table width="100%"  style="font-size:26px !important">
                            <tbody>	           
                            	<tr>              
                                	<td colspan="5" style="padding:2px;" align="center">
                                    	<span style="font-size:30px">Kulhen</span>
                                    </td>
                                </tr>
                            	<tr>              
                                	<td colspan="5" align="center">
                                    	<p style="font-size:26px; margin:0 !important;">
											Jalan Suli No. 93, Kota Denpasar                                        </p>
                                    </td>
                                </tr>
                            	<tr>              
                                	<td colspan="5" align="center" style="border-bottom:1px dashed #000000;">
										<p style="font-size:26px;">
                                        	<strong>Telepon :</strong> <span>+123 456 789</span>
                                        </p>                                    
                                    </td>
                                </tr>
                            	<tr>              
                                	<td colspan="5" align="center" style="padding:8px 2px;">
                                    	<span style="font-size:14px;">BILLING OBAT</span>
                                    </td>
                                </tr>
                            	<tr >
                                	<td align="left" style="padding:2px;font-size:26px!important;" colspan="2"><p  style="font-size:26px;">NoBuk : 171018APT-00001</p></td>
                                    <td align="right" style="padding:2px;font-size:26px!important;" colspan="3"><p  style="font-size:26px;">2017-10-18 10:57:55</p></td>
                                </tr>
                            	<tr >
                                	<td align="left" style="padding:2px;font-size:26px!important;" colspan="2"><p  style="font-size:26px;">NoReg : -</p></td>
                                    <td align="right" style="padding:2px;font-size:26px!important;" colspan="3"><p  style="font-size:26px;">dr. Agus</td>
                                </tr>
                            	<tr style="border-bottom:1px dashed #000000;">
                                	<td align="left" style="padding:2px;font-size:26px!important;" colspan="3"><p  style="font-size:26px;">Nama : Alex tes</p></td>
                                    <td align="right" style="padding:2px;font-size:26px!important;" colspan="2"><p  style="font-size:26px;">UMUM</td>
                                </tr>
                                <tr style="border-bottom:1px dashed #000000;">
	                            	<td align="center" style="padding:8px 2px;font-size:26px!important;border-bottom:1px dashed #000000">Qty</td>
	                            	<td style="padding:8px 2px;font-size:26px!important;border-bottom:1px dashed #000000; font: bold;">Nama Barang</td>
	                            	<td align="center" style="padding:8px 2px;font-size:26px!important;border-bottom:1px dashed #000000; font:bold;">Harga</td>
	                            	<td align="center" style="padding:8px 2px;font-size:26px!important;border-bottom:1px dashed #000000; font:bold;">Disc</td>
	                            	<td align="right" style="padding:8px 2px;font-size:26px!important;border-bottom:1px dashed #000000; font:bold;">Total</td>
                                </tr> 

								                            	<tr>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">1</td>
                                    <td width="60%" style="padding:5px 3px;font-size:26px!important;">ASPAR-K TABLET</td>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">3,035.00</td>
                                    <td align="center" style="padding:5px 2px;font-size:26px!important;">0</td>
                                	<td align="right" style="padding:5px 2px;font-size:26px!important;">3,035.00</td>
                                </tr>
                                                            	<tr>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">1</td>
                                    <td width="60%" style="padding:5px 3px;font-size:26px!important;">BECOM-C TABLET</td>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">1,827.00</td>
                                    <td align="center" style="padding:5px 2px;font-size:26px!important;">0</td>
                                	<td align="right" style="padding:5px 2px;font-size:26px!important;">1,827.00</td>
                                </tr>
                                                            	<tr>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">1</td>
                                    <td width="60%" style="padding:5px 3px;font-size:26px!important;">AVIL TABLET</td>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">2,097.00</td>
                                    <td align="center" style="padding:5px 2px;font-size:26px!important;">0</td>
                                	<td align="right" style="padding:5px 2px;font-size:26px!important;">2,097.00</td>
                                </tr>
                                                            	<tr>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">1</td>
                                    <td width="60%" style="padding:5px 3px;font-size:26px!important;">ANVOMER B6 TABLET</td>
                                	<td align="center" style="padding:5px 2px;font-size:26px!important;">3,564.00</td>
                                    <td align="center" style="padding:5px 2px;font-size:26px!important;">0</td>
                                	<td align="right" style="padding:5px 2px;font-size:26px!important;">3,564.00</td>
                                </tr>
                                                                <tr style="border-top:1px dashed #000000;border-bottom:1px dashed #000000;">
                                	<td colspan="5" align="right" style="padding:26px 3px 26px;border-bottom:1px dashed #000000;">Grand Total : Rp. 10,523.00</td>
                                </tr>                                
                                <tr>
                                	<td colspan="5" style="padding:1px;border-bottom:1px dashed #000000;"></td>
                                </tr>
                                <tr>
                                	<td colspan="3" align="left" style="padding:1px;border-bottom:1px dashed #000000;font-size:9px!important;">2017-10-21 08:41:55</td>
                                	<td colspan="2" align="right" style="padding:1px;border-bottom:1px dashed #000000;font-size:9px!important;">PRW</td>
                                </tr>
                                <tr style="border-bottom:1px dashed #000000;">
                                	<td colspan="5" align="center" style="padding:2px 3px 5px;border-bottom:1px dashed #000000;">THANK YOU</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
