.tooth {
    position: relative;
    width: 0px;
    height: auto;
    margin-left: 50px;
    display: inline-block;
}

.img {
    background-color: #FFFFFF;
    border: 1px solid #7F7F7F;
    position: relative;
    width: 25px;
    height: 15px;
    left: 45px;
    -webkit-border-radius: 80px 80px 0px 15px;
    -moz-border-radius: 80px 80px 0px 15px;
    border-radius: 80px 80px 0px 15px;
}

.img:hover {
    /*background: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}

.left {
    top: 1px !important;
    left: 28px !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.bottom-tooth {
    top: 2px !important;
    left: 45px !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.good {
    top: -29px !important;
    left: 61px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.center {
    background: #F3F3F3;
    border: 1px solid #7F7F7F;
    width: 25px;
    height: 25px;
    top: -49px;
    left: 45px;
    position: relative;
}

.center:hover {
    border: 1px solid rgba(117, 198, 243, 0.4);
    /*background-color: rgba(117, 198, 243, 0.4);*/
    cursor: pointer;
}

#tlr {
    /* border-bottom: 1px solid black; */
}
#tr {
}
#tll {
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
}
#tl {
    /* border-left: 1px solid black; */
}

#blr {
}
#br {
}
#bl {
    /* border-left: 1px solid black; */
}
#bll {
    /* border-left: 1px solid black; */
}
.click-red {
    background-color: red !important;
}

.click-blue {
    background-color: blue;
}

.click-delete {
    background-color: #747F7D !important;
}

.kill {
    background-color: green;
}

.tooth-milk {
    position: relative;
    width: 0px;
    height: auto;
    margin-left: 50px;
    display: inline-block;
}

.img-milk {
    border: 1px solid #7F7F7F;
    position: relative;
    width: 13px;
    height: 13px;
    left: 45px;
    -webkit-border-radius: 80px 80px 0px 15px;
    -moz-border-radius: 80px 80px 0px 15px;
    border-radius: 80px 80px 0px 15px;
}

.img-milk:hover {
    /*background: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}

.left-milk {
    top: -4px !important;
    left: 37px !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.top-milk {
    width: 15px;
    left: 47px;
}

.bottom-milk {
    width: 15px;
    top: -8px !important;
    left: 47px !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.good-milk {
    top: -30px !important;
    left: 58px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.center-milk {
    background: #F3F3F3;
    border: 1px solid #7F7F7F;
    width: 15px;
    height: 13px;
    top: -43px;
    left: 47px;
    position: relative;
}

.center-milk:hover {
    border: 1px solid rgba(117, 198, 243, 0.4);
    /*background-color: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}

/* color odontogram */

.color-amf {
    background-color: #F0E68C !important;
    border-color: #F0E68C !important;
}

.color-cof {
    background-color: #FFFF00 !important;
    border-color: #FFFF00 !important;
}

.color-fis {
    background-color: #FFD700 !important;
    border-color: #FFD700 !important;
}

.color-nvt {
    background-color: #ADFF2F !important;
    border-color: #ADFF2F !important;
}

.color-rct {
    background-color: #00FF00 !important;
    border-color: #00FF00 !important;
}

.color-non {
    background-color: #32CD32 !important;
    border-color: #32CD32 !important;
}

.color-une {
    background-color: #98FB98 !important;
    border-color: #98FB98 !important;
}

.color-pre {
    background-color: #3CB371 !important;
    border-color: #3CB371 !important;
}

.color-sou {
    background-color: #2E8B57 !important;
    border-color: #2E8B57 !important;
}

.color-ano {
    background-color: #006400 !important;
    border-color: #006400 !important;
}

.color-car {
    background-color: #9ACD32 !important;
    border-color: #9ACD32 !important;
}

.color-cfr {
    background-color: #6B8E23 !important;
    border-color: #6B8E23 !important;
}

.color-amf-rct {
    background-color: #556B2F !important;
    border-color: #556B2F !important;
}

.color-cof-rct {
    background-color: #8FBC8F !important;
    border-color: #8FBC8F !important;
}

.color-fmc {
    background-color: #20B2AA !important;
    border-color: #20B2AA !important;
}

.color-fmc-rct {
    background-color: #008B8B !important;
    border-color: #008B8B !important;
}

.color-poc {
    background-color: #03353E !important;
    border-color: #03353E !important;
}

.color-poc-rct {
    background-color: #FFA07A !important;
    border-color: #FFA07A !important;
}

.color-rrx {
    background-color: #CD5C5C !important;
    border-color: #CD5C5C !important;
}

.color-mis {
    background-color: #DC143C !important;
    border-color: #DC143C !important;
}

.color-ipx-poc {
    background-color: #8B0000 !important;
    border-color: #8B0000 !important;
}

.color-meb-pon {
    background-color: #DA70D6 !important;
    border-color: #DA70D6 !important;
}

.color-pob {
    background-color: #FF00FF !important;
    border-color: #FF00FF !important;
}

.color-meb {
    background-color: #9932CC !important;
    border-color: #9932CC !important;
}

.color-frm-acr {
    background-color: #8B008B !important;
    border-color: #8B008B !important;
}
