/* CSS Document */

/* 
ref:
http://www.online-convert.com/result/2b951382f331e489e1c6e5e0aad25f74
https://css-tricks.com/using-svg/
http://www.mobilefish.com/services/base64/base64.php
*/

.logo{display: inline-block;padding: 0;margin: 0;width: 300px;height: 55px;text-indent: -99999px;background-size: contain;background-repeat: no-repeat;background-position: 0 0;background-color: transparent;background-image: url('../img/logo.png');}
.logo.login-logo{width: 185px;height: 34px;}
.logo.admin-logo{width: 39px;height: 39px;margin: 8px 10px;vertical-align: middle;}